{% extends 'main.html' %}

{% block content %}

<h1>This is the {{msg2}} Page!</h1>

<p>
    Welcome to the index Page for the Car Hub Website, certain features do not currently
    work as of yet, but changes will be coming soon so stay tuned!
</p>

<p>Here is the current list of registered users on the website</p>

<ul>
    <!-- <li>{{usernames}}</li> -->
    {% for i in usernames %}
        <li>Username: {{i}}</li>
    {% endfor %}
</ul>

<p><a href="{% url 'testPage' %}" class="button">Click here to see what I can do!</a></p>
<p><a href="{% url 'createPost' %}" class="button">Click here to create a post to the website</a></p>

{% endblock content %}