{% extends 'main.html' %}

{% block content %}

<h1>This is the {{msg5}} Page!</h1>

<p>
    Welcome to the Main Feed Page, this will allow users to make Post and see all the post that have ever been uploaded to
    database.
</p>

{% for post in postList %}

<img src="{{post.image.url}}">

<p>User: {{post.profile}}</p>
<p>Post: {{post.title}}</p>
<p>Body: {{post.body}}</p>

<p><a href="{% url 'createComment' post.id %}" class="button">Comment</a></p>
<p>Comments:</p>

{% for comment in commentList %}

{% if comment.post == post %}

<p>{{comment.profile}}: {{comment.body}}</p>

{% endif %}

{% endfor %}

<p><a href="{% url 'addLike' post.id %}" class="button">Like</a></p>
<p>Likes: {{post.likes}}</p>
<hr>

{% endfor %}

{% endblock content %}

<!-- Dedicated to Justin Peters, Rest in Peace 2000-2022 -->